 module.exports = function(req,res){console.log(req.body)} 
<html>
<head>
  <meta charset="UTF-8">
  <title>Start the Game</title>
  </head>
  <body >
      <div class = 'header'> <%= picture.title %> </div>
      <div class ='bgimg'></div>
      <div class ='content' >
        <div class ='justImage'>
            <% module.exports = function(req,res){console.log(req.body)} %>

        </div>
        <!-- <div class = 'paintingInfo'>

          <% if (100 <picture.number < 200){%>
            <form method="POST" action='/check'>
              Title: <input type="text" class ='title' name="Title" value="Title">
            </form>
            <div> Artist: <%= picture.maker %> </div>
            <div> Medium: <%= picture.medium %> </div>
            <div> Date: <%= picture.date %> </div>
            <a href= <%= picture.link %> > History and Facts about <%= picture.title %></a>
          <% } else if ( picture.number < 100)  { %>
            <div> Title: <%= picture.title %> </div>
            <form>
              <input name="Artist" placeholder="Artist"></input>
            </form>
            <div> Medium: <%= picture.medium %> </div>
            <div> Date: <%= picture.date %> </div>
            <a href= <%= picture.link %> > History and Facts about <%= picture.title %></a>
          <% } else if (picture.number > 300)  { %>
            <div> Title: <%= picture.title %> </div>
            <div> Artist: <%= picture.maker %> </div>
            <div> Medium: <%= picture.medium %> </div>
            <form>
              <input name="Date" placeholder="Date"></input>
            </form>
          <% } %>

      </div>
    </div> -->

  </body>
  </html>
